<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headerTitle">{{ 'title.settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="language-sharp"></ion-icon>
      <ion-buttons class="changeLanguageButtons">
        <ion-button expand="full" fill="clear" (click)="presentPopover()">
          <ion-label class="changeLanguageLabel">{{ 'changeLanguages' | translate }}</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-item>
      <ion-icon name="moon"></ion-icon>
      <ion-buttons class="nightModeButtons">
        <ion-button expand="full" fill="clear" class="nightModeButton">
          <ion-label class="nightModeLabel">
            <p class="nightModeLabelTitle">
              {{ 'nightMode' | translate }}
            </p>
            <p class="nightModeSubtitle">
              {{ isNightModeEnabled? 
                ('commons.enabled' | translate) : 
                ('commons.disabled' | translate) }}
            </p>
          </ion-label>
        </ion-button>
        <ion-toggle id="nightModeToggle" (ionChange)="enableNightMode()"></ion-toggle>
      </ion-buttons>
    </ion-item>

  </ion-list>
</ion-content>
