.header {
    --background: var(--header-background-dark);
}

.dark {
    --background: var(--header-background-default);
}

.button-clear {
    --color: initial;
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --ripple-color: transparent;
}

.label {
    margin-top: auto;
}

.nightModeButtons {
    width: -webkit-fill-available;
}

.nightModeButton {
    width: -webkit-fill-available;
}

.nightModeSubtitle {
    font-size: 10px;
    color: grey;
}
