.header {
    --background: var(--header-background-dark);
}

.dark {
    --background: var(--header-background-default);
}

.cardContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

.card {
    width: 50%;
    display: inline-block;
    margin-bottom: 5%;
}

.cardDisplayTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3%;
}

.continentLabel {
    margin-left: 2%;
    font-size: large;
}

.cardHeaderTitle {
    white-space: break-spaces;
}

.cardDescription {
    margin-left: 2.5%;
}

.cardDescriptionText {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}