<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headerTitle">{{ 'title.mytravels' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let continent of continents">
    <ion-list-header lines="inset" class="cardDisplayTitle">
      <ion-label class="continentLabel">{{ continent | translate }}</ion-label>
      <div class="cardContainer">
        <ion-card *ngFor="let place of getPlacesSetFromContinent(continent)" class="card">
          <ion-img [src]=place.image *ngIf="place.image"></ion-img>
          <ion-img [src]=defaultImg *ngIf="!place || !place.image"></ion-img>
          <ion-card-header>
            <ion-grid>
              <ion-row style="display: block;">
                <ion-col size="10">
                  <ion-card-title class="cardHeaderTitle">{{ place.city | translate }}</ion-card-title>
                  <ion-icon name="pin" slot="start"></ion-icon>
                  <ion-label>{{ place.country | translate }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
          <ion-card-content class="cardDescription" *ngIf="place.image">
            <p class="cardDescriptionText">{{ place.description | translate }}</p>
            <ion-button expand="block" disabled>{{ 'commons.viewDetail' | translate }}</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list-header>
  </div>
</ion-content>
