.header {
    --background: var(--header-background-dark);
}

.dark {
    --background: var(--header-background-default);
}

.cardContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    width: 50%;
    display: inline-block;
    margin-bottom: 5%;
}

.cardDisplayTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3%;
}

.continentLabel {
    margin-left: 2%;
    font-size: large;
}

.cardDescription {
    margin-left: 2.5%;
}

.cardDescriptionText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}