<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="" class="tab-button">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>{{'menu.home' | translate }}</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="wish-list" class="tab-button">
      <ion-icon name="heart"></ion-icon>
      <!-- <ion-label>Wish List</ion-label> -->
    </ion-tab-button>

    <ion-fab center bottom>
      <button ion-fab large>Add</button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab>
    <ion-tab-button tab="add-travel" class="tab-button"></ion-tab-button>

    <ion-tab-button tab="travels" class="tab-button">
      <ion-icon name="airplane-outline"></ion-icon>
      <!-- <ion-label>My Travels</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="settings" class="tab-button">
      <ion-icon name="settings-sharp"></ion-icon>
      <!-- <ion-label>Settings</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>