<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="" class="tab-button">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wish-list" class="tab-button">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="add-travel" class="tab-button">
        <ion-icon name="add-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="travels" class="tab-button">
      <ion-icon name="airplane-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="tab-button">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>