.header {
    --background: var(--header-background-dark);
}

.dark {
    --background: var(--header-background-default);
}

.addTravelSelect {
    font-size: large;
}

.addTravelSaveButton {
    color: white;
    font-size: large;
    width: 100%;
    height: 60px;
    // --background: #e7cfbc;
    --background: #9228a5;
    // --background-focused: #dfbfa5;
    --background-focused: #491452;
    // --background-hover: #dfbfa5;
    --background-hover: #491452;
    --border-color:#9228a5;
}

.addTravelSaveContainer {
    position: fixed;
    bottom: 0px;
    width: -webkit-fill-available;
}

.saveButtonContainer {
    justify-content: space-evenly;
}