<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headerTitle">{{ 'title.addTravel' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item>
      <ion-label class="addTravelSelect">{{ 'addTravel.whereTo' | translate }}</ion-label>
      <ion-select 
        [(ngModel)]="selectedOption"
        class="addTravelSelect" 
        placeholder="{{ 'commons.selectPlaceholder' | translate }}">
        <ion-select-option 
          class="addTravelSelect" 
          value="w">{{ 'title.wishlist' | translate }}</ion-select-option>
        <ion-select-option 
          class="addTravelSelect"
          value="t">{{ 'title.mytravels' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div>
    <ion-searchbar 
      [(ngModel)]="searchbar"
      animated 
      clearIcon="close-circle"
      mode="ios"
      placeholder="{{ 'searchbar.placeholder' | translate }}"
      debounce="500"
      (ionFocus)="searchbarHasFocus()"
      (ionBlur)="searchbarHasFocus()"
      (ionInput)="handleInput($event)"></ion-searchbar>

    <div>
      <ion-list>
        <ion-item 
          *ngFor="let place of arrayToSearch; let i = index"
          id="{{ 'item-' + i }}" 
          button 
          (click)="selectPlace(place)">
          {{ place.city | translate }}, {{ place.country | translate }}
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="addTravelSaveContainer">
    <ion-buttons class="saveButtonContainer">
      <ion-button 
        class="addTravelSaveButton"
        fill="outline"
        size="large"
        mode="ios"
        type="submit"
        (click)="savePlace()">{{ 'commons.save' | translate }}</ion-button>
    </ion-buttons>
  </div>
</ion-content>
