<ion-app>

  <ion-router-outlet></ion-router-outlet>

  <ion-header>
    <ion-toolbar class="header">
      <ion-title class="headerTitle">{{ 'title.home' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="swiperContainer">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="displayContainer">
            <ion-img src="assets/icon/wish-list.png" class="icons"></ion-img>
            <p class="statTitle">{{ 'title.wishlist' | translate }}</p>
            <p class="statInfo">{{ 'home.hasSaved' | translate }}</p>
            <p class="statNumber">{{ wishlistLength }}</p>
            <p class="statInfo">{{ 'home.hasSavedPlaces' | translate }}</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="displayContainer">
            <ion-img src="assets/icon/earth.png" class="icons"></ion-img>
            <p class="statTitle">{{ 'home.placesBeen' | translate }}</p>
            <p class="statInfo">{{ 'home.hasBeen' | translate }}</p>
            <p class="statNumber">{{ myTravelsLength }}</p>
            <p class="statInfo">{{ 'home.hasBeenPlaces' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-tabs></app-tabs>

</ion-app>