.modeWishListButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 2%;
    height: 50px;
}

.modeWishListButton {
    --background: transparent;
    color: black;
}

.card {
    width: 50%;
    height: 400px;
    margin-bottom: 5%;
}

.modeListIonCardContent {
    display: block;
    width: 100%;
}

.modeListIonCardHeader {
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}