<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="headerTitle">{{ 'title.wishlist' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modeWishListButtons">
    <ion-segment (ionChange)="changeViewMode($event)" value="list" mode="ios">
      <ion-segment-button value="list">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list *ngIf="modeListIsEnabled && wishlistToShow.length === 0">
    <ion-card mode="ios">
      <ion-item>
        <ion-img [src]=defaultImg></ion-img>
        <ion-card-content>
          <ion-card-header>{{ 'wishlist.emptyList' | translate }}</ion-card-header>
          {{ 'wishlist.emptyListDescription' | translate }}
        </ion-card-content>
      </ion-item>
    </ion-card>
  </ion-list>

  <div *ngIf="modeListIsEnabled">
    <ion-list *ngFor="let place of wishlistToShow">
      <ion-card mode="ios">
        <ion-img [src]=place.image></ion-img>
        <ion-item>
          <ion-card-content class="modeListIonCardContent">
            <ion-card-header class="modeListIonCardHeader" *ngIf="!areOptionsShown(place)">
              {{ place.city | translate }},  {{ place.country | translate }}
              <ion-icon button name="caret-forward-outline" (click)="openOptions(place)"></ion-icon>
            </ion-card-header>
            <ion-card-header class="modeListIonCardHeader" *ngIf="areOptionsShown(place)">
              <ion-icon button name="caret-back-outline" (click)="closeOptions(place)"></ion-icon>
              <ion-icon name="trash-outline" size="large" (click)="deletePlaceFromWishList(place)"></ion-icon>
              <ion-icon name="paper-plane-outline" size="large" (click)="moveToPlacesBeen(place)"></ion-icon>
            </ion-card-header>
          </ion-card-content>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="modeMapIsEnabled">
    <ion-card mode="ios">
      <ion-card-header style="font-size: xx-large">
        <ion-icon name="code-working-outline" size="large"></ion-icon>
          {{ 'commons.workInProgress' | translate }}
        <ion-icon name="code-working-outline" size="large"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]=defaultImg></ion-img>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
