.header {
    --color: white;
    --background: #9228a5;
}

.headerTitle {
    font-size: x-large;
}

.modeWishListButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 2%;
    height: 50px;
}

.modeWishListButton {
    --background: transparent;
    color: black;
}

.card {
    width: 50%;
    height: 400px;
    margin-bottom: 5%;
}